In [1]:
import sqlite3
import pandas as pd

In [2]:
climate = pd.read_csv('sst.csv')

In [3]:
# Create a connection to an in-memory SQLite database
conn = sqlite3.connect(":memory:")

# Write the DataFrame to the database as a table
climate.to_sql("climate", conn, index=False, if_exists="replace")

39864997

In [4]:
climate.head()

    lat  lon        time  nbnds     time_bnds  sst
0  88.0  0.0  1854-01-01      0  9.969210e+36 -1.8
1  88.0  0.0  1854-01-01      1  9.969210e+36 -1.8
2  88.0  0.0  1854-02-01      0  9.969210e+36 -1.8
3  88.0  0.0  1854-02-01      1  9.969210e+36 -1.8
4  88.0  0.0  1854-03-01      0  9.969210e+36 -1.8

In [7]:
print("Max Lat: ",max(climate['lat']))
print("Max Lon: ",max(climate['lon']))
print("Min Lat: ",min(climate['lat']))
print("Min Lon: ",min(climate['lon']))

Max Lat:  88.0
Max Lon:  358.0
Min Lat:  -18.0
Min Lon:  0.0

In [10]:
query="""
SELECT *
FROM climate
WHERE lat<=65 AND lat>=45 AND lon>=300 AND lon<=345
"""

result_df = pd.read_sql_query(query, conn)
result_df.head()

    lat    lon        time  nbnds     time_bnds  sst
0  64.0  300.0  1854-01-01      0  9.969210e+36 -1.8
1  64.0  300.0  1854-01-01      1  9.969210e+36 -1.8
2  64.0  300.0  1854-02-01      0  9.969210e+36 -1.8
3  64.0  300.0  1854-02-01      1  9.969210e+36 -1.8
4  64.0  300.0  1854-03-01      0  9.969210e+36 -1.8

In [11]:
result_df.to_csv('filtered_sst.csv',index=False)